<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Library Registration Services</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.css" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        <!--<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
        <style>
        .center_div{
            margin: 0 auto;
            width:80% /* value of your choice which suits your alignment */
        }    
        </style>
    </head>

    <body>
      <!--
      <div th:replace ="fragments/header::header"/></div> 
        <div class="container">
            <h4> New User Registration </h4>
            <form action="#" th:action="@{/register}" th:object="${user}" method="post">
                <p>Legal First Name: <input type="text" th:field="*{firstName}" required></p>
                <p>Legal Last Name: <input type="text" th:field="*{lastname}" required></p>
                <p>Username: <input type="text" th:field="*{username}" required> </p>
                <p>Valid Email Address: <input type="text" th:field="*{email}" required></p>
                <p>Age: <input type="number" th:field="*{userAge}" required></p>
                <p>Address: <input type="text" th:field="*{address}" required> </p>
                <p>Password: <input type="password" th:field="*{passwordHash}" required></p>
                <button type="submit" class="btn btn-lg btn-primary">Submit</button>            
            </form>
        </div>
        -->
        <div th:replace ="fragments/header::header"></div>
        <div class="container center_div">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title">Please Register A Library Card! It's free! <small>It's free!</small></h3>
			 			</div>
			 			<div class="panel-body">
			    		<form action="#" th:action="@{/register}" th:object="${user}" method="post">
			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			                <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name" th:field="*{firstName}" required>
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
                                                                    <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name" th:field="*{lastname}" required>
			    					</div>
			    				</div>
			    			</div>
                                                <div class="form-group">
			    				<input type="text" name="username" id="username" class="form-control input-sm" placeholder="Username" th:field="*{username}" required>
			    			</div>

			    			<div class="form-group">
			    				<input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address" th:field="*{email}" required>
			    			</div>
			    			<div class="form-group">
			    				<input type="number" name="age" id="age" class="form-control input-sm" placeholder="Age" th:field="*{userAge}" required>
			    			</div>
                                                <div class="form-group">
			    				<input type="text" name="address" id="address" class="form-control input-sm" placeholder="Home Address" th:field="*{address}" required>
			    			</div>
			    			<div class="form-group">
                                                    <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password" th:field="*{passwordHash}">	
                                                </div>
			    			
			    			
			    			<input type="submit" value="Register" class="btn btn-info btn-block">
			    		
			    		</form>
			    	</div>
	    		</div>
    		</div>
    	</div>
    </div>
        <div th:replace = "fragments/footer::footer"/>
    </body>
</html>